# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
# IntelliJ project files
.idea
*.iml
out
gen
.target
src/main/resources/application.properties
src/main/resources/application-dev.properties
.idea/workspace.xml
src/test/
target/classes/application-dev.properties
target/classes/com/timplant/config/
target/classes/com/timplant/controller/
target/classes/com/timplant/model/
target/classes/com/timplant/repository/
target/classes/com/timplant/service/
target/classes/db/
target/classes/static/
target/classes/templates/
target/generated-sources/
target/maven-status/
